*{
    padding: 0 auto;
    margin: 0 auto;
}

#Contenedor{
    height: 1000px;
    width: 900px;
    background-color: #f1ecea;
}
#encabezado{
    height: 15%;
    background-color: #3a251c;
}
#BarraNavegacion{
    height: 5% ;
    background-color: #b46424;
    text-align: center;

}
#Seccion{
    height: 64%;
    width: 60%;
    background-color: #362f2f;
    float: left;
    margin-right: 1em;
}
#aseccion{
    height: 64%;
    width: 35%;
    background-color: #b58c7c;
    float:right;
    margin-left: 1em;
}
#piePagina{
    height: 10%;
    width: 100%;
    background-color:  #3a251c;
    text-align: center;
    float:inline-end;
}

.Encabezado{
    text-align: center;
    color: white;
    font-size: 60;
    font-family: verdana;
}
.barraNavegacion{
    color: white;
    text-decoration: none;
    text-align: justify;
    display: inline;
    font-size: larger;

}
.PieNavegacion{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}
.texto{
    color: white;
    text-align: justify;
    font-size: 14;
    font-family: arial;
    padding: 2%;
}
ul{
    text-align: center;
    display: inline;
}
li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
    text-decoration: none;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 1px solid;
    margin-left: 5px;
    margin-right: 5px;
}